name: Deployment - Cloud Run

on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: true
      target_environment:
        type: choice
        options:
        - dev
        - stage
        - prod

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_ZONE: us-central1
  IMAGE: webhook

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Print Target Values
        run: |
          echo "TARGET_RELEASE_TAG: ${{ github.event.inputs.release_tag }}"
          echo "TARGET_ENVIRONMENT: ${{ github.event.inputs.target_environment }}"

      # Maps the input option to associated environments.
      - uses: kanga333/variable-mapper@master
        with:
          key: "${{ github.event.inputs.target_environment }}"
            map: |
            {
              "dev": {
                "environment": "Development",
                "IMAGE": "webhook-dev",
                "GKE_ZONE": "us-central1"
              },
              "stage": {
                "environment": "Stage",
                "IMAGE": "webhook-stage",
                "GKE_ZONE": "us-central1"
              },
              "prod": {
                "environment": "Production",
                "IMAGE": "webhook-prod",
                "GKE_ZONE": "us-central1"
              }
            }
      # SETUP #
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      
      - name: Test nuget sources
        run: ls -lart
      
      # BUILD #
      - name: Restore dependencies
        run: dotnet restore
      
      - name: Build
        run: dotnet build --no-restore
        
      # RUN UNIT TEST #
      
      # BUILD DOCKER IMAGE #
        
      - name: Set Image Tag
        id: set_image_tag
        run: |
          echo "::set-output name=image_tag::${{ github.event.inputs.release_tag }}"

      - name: Build Docker Image(s)
        run: |-
          docker build --tag "gcr.io/$PROJECT_ID/$IMAGE:${{ steps.set_image_tag.outputs.image_tag }}" .

      # PUBLISH #
      # Setup gcloud CLI
      - uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GKE_SA_KEY }} #takes values from general secrets section
          project_id: ${{ env.PROJECT_ID }} #takes values from general secrets section

      - run: |-
          gcloud --quiet auth configure-docker

      # Push the Docker image to Google Container Registry
      - name: Publish
        run: |-
          docker push "gcr.io/$PROJECT_ID/$IMAGE:${{ steps.set_image_tag.outputs.image_tag }}"

      - name: Deploy Cloud Run
        working-directory: ./CloudFunction
        run: |
          gcloud run deploy ${{ env.IMAGE }} \
          --allow-unauthenticated \
          --region ${{ env.GKE_ZONE }} \
          --port 8080 \
          --image "gcr.io/$PROJECT_ID/$IMAGE:${{ steps.set_image_tag.outputs.image_tag }}" \
          --set-env-vars "^|^ASPNETCORE_ENVIRONMENT=Development" \
          --set-secrets=SNOWFLAKE_PUBLICKEY=SNOWFLAKE_PUBLICKEY:1 \
          --set-secrets=SNOWFLAKE_USER=SNOWFLAKE_USER:1 \
          --set-secrets=SNOWFLAKE_PASSWORD=SNOWFLAKE_PASSWORD:1 \
          --set-secrets=SNOWFLAKE_ACCOUNT=SNOWFLAKE_ACCOUNT:1 \
          --set-secrets=SNOWFLAKE_DB=SNOWFLAKE_DB:1 \
          --set-secrets=SNOWFLAKE_SCHEMA=SNOWFLAKE_SCHEMA:1 \
          --set-secrets=SNOWFLAKE_WAREHOUSE=SNOWFLAKE_WAREHOUSE:1 \
          --set-secrets=SNOWFLAKE_TABLE=SNOWFLAKE_TABLE:1 \
          --set-secrets=SNOWFLAKE_ROLE=SNOWFLAKE_ROLE:1 \
          --set-secrets=SB_JWT_CLIENT_KEY=SB_JWT_CLIENT_KEY:1 \
          --set-secrets=SB_JWT_MANAGER_KEY=SB_JWT_MANAGER_KEY:1
