name: Deployment - Cloud Run

on:
  workflow_dispatch:
    inputs:
      release_tag:
        required: true
      target_environment:
        type: choice
        options:
        - dev
        - stage
        - prod

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_ZONE: us-central1
  IMAGE: cart-webhook-sendgrid
  SNOWFLAKE_PUBLICKEY: "SNOWFLAKE_PUBLICKEY:1"
  SNOWFLAKE_USER: "SNOWFLAKE_USER:1"
  SNOWFLAKE_PASSWORD: "SNOWFLAKE_PASSWORD:1"
  SNOWFLAKE_ACCOUNT: "SNOWFLAKE_ACCOUNT:1"
  SNOWFLAKE_DB: "SNOWFLAKE_DB:1"
  SNOWFLAKE_SCHEMA: "SNOWFLAKE_SCHEMA:1"
  SNOWFLAKE_WAREHOUSE: "SNOWFLAKE_WAREHOUSE:1"
  SNOWFLAKE_TABLE: "SNOWFLAKE_TABLE:1"
  SNOWFLAKE_ROLE: "SNOWFLAKE_ROLE:1"
  SB_JWT_CLIENT_KEY: "SB_JWT_CLIENT_KEY:1"
  SB_JWT_MANAGER_KEY: "SB_JWT_MANAGER_KEY:1"
  LABEL: dev

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Print Target Values
        run: |
          echo "TARGET_RELEASE_TAG: ${{ github.event.inputs.release_tag }}"
          echo "TARGET_ENVIRONMENT: ${{ github.event.inputs.target_environment }}"

      # Maps the input option to associated environments.
      - uses: kanga333/variable-mapper@master
        with:
            key: "${{ github.event.inputs.target_environment }}"
            map: |
              {
                "dev": {
                  "environment": "Development",
                  "IMAGE": "cart-webhook-sendgrid-dev",
                  "GKE_ZONE": "us-central1",
                  "SNOWFLAKE_PUBLICKEY": "SNOWFLAKE_PUBLICKEY:1",
                  "SNOWFLAKE_USER": "SNOWFLAKE_USER:1",
                  "SNOWFLAKE_PASSWORD": "SNOWFLAKE_PASSWORD:1",
                  "SNOWFLAKE_ACCOUNT": "SNOWFLAKE_ACCOUNT:1",
                  "SNOWFLAKE_DB": "SNOWFLAKE_DB:1",
                  "SNOWFLAKE_SCHEMA": "SNOWFLAKE_SCHEMA:1",
                  "SNOWFLAKE_WAREHOUSE": "SNOWFLAKE_WAREHOUSE:1",
                  "SNOWFLAKE_TABLE": "SNOWFLAKE_TABLE:1",
                  "SNOWFLAKE_ROLE": "SNOWFLAKE_ROLE:1",
                  "SB_JWT_CLIENT_KEY": "SB_JWT_CLIENT_KEY:1",
                  "SB_JWT_MANAGER_KEY": "SB_JWT_MANAGER_KEY:1",
                  "LABEL": "dev"
                },
                "stage": {
                  "environment": "Stage",
                  "IMAGE": "cart-webhook-sendgrid-stage",
                  "GKE_ZONE": "us-central1",
                  "SNOWFLAKE_PUBLICKEY": "SNOWFLAKE_PUBLICKEY:1",
                  "SNOWFLAKE_USER": "SNOWFLAKE_USER:1",
                  "SNOWFLAKE_PASSWORD": "SNOWFLAKE_PASSWORD:1",
                  "SNOWFLAKE_ACCOUNT": "SNOWFLAKE_ACCOUNT:1",
                  "SNOWFLAKE_DB": "SNOWFLAKE_DB:1",
                  "SNOWFLAKE_SCHEMA": "SNOWFLAKE_SCHEMA:1",
                  "SNOWFLAKE_WAREHOUSE": "SNOWFLAKE_WAREHOUSE:1",
                  "SNOWFLAKE_TABLE": "SNOWFLAKE_TABLE:1",
                  "SNOWFLAKE_ROLE": "SNOWFLAKE_ROLE:1",
                  "SB_JWT_CLIENT_KEY": "SB_JWT_CLIENT_KEY:1",
                  "SB_JWT_MANAGER_KEY": "SB_JWT_MANAGER_KEY:1",
                  "LABEL": "stage"
                },
                "prod": {
                  "environment": "Production",
                  "IMAGE": "cart-webhook-sendgrid",
                  "GKE_ZONE": "us-central1",
                  "SNOWFLAKE_PUBLICKEY": "SNOWFLAKE_PUBLICKEY:1",
                  "SNOWFLAKE_USER": "SNOWFLAKE_USER:1",
                  "SNOWFLAKE_PASSWORD": "SNOWFLAKE_PASSWORD:1",
                  "SNOWFLAKE_ACCOUNT": "SNOWFLAKE_ACCOUNT:1",
                  "SNOWFLAKE_DB": "SNOWFLAKE_DB:1",
                  "SNOWFLAKE_SCHEMA": "SNOWFLAKE_SCHEMA:1",
                  "SNOWFLAKE_WAREHOUSE": "SNOWFLAKE_WAREHOUSE:1",
                  "SNOWFLAKE_TABLE": "SNOWFLAKE_TABLE:1",
                  "SNOWFLAKE_ROLE": "SNOWFLAKE_ROLE:1",
                  "SB_JWT_CLIENT_KEY": "SB_JWT_CLIENT_KEY:1",
                  "SB_JWT_MANAGER_KEY": "SB_JWT_MANAGER_KEY:1",
                  "LABEL": "prod"
                }
              }
      # SETUP #
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
      
      - name: Test nuget sources
        run: ls -lart
      
      # BUILD #
      - name: Restore dependencies
        run: dotnet restore
      
      - name: Build
        run: dotnet build --no-restore
        
      # RUN UNIT TEST #
      
      # BUILD DOCKER IMAGE #
        
      - name: Set Image Tag
        id: set_image_tag
        run: |
          echo "::set-output name=image_tag::${{ github.event.inputs.release_tag }}"

      - name: Build Docker Image(s)
        run: |-
          docker build --tag "gcr.io/$PROJECT_ID/cloudrun/$IMAGE:${{ steps.set_image_tag.outputs.image_tag }}" .

      # PUBLISH #
      # Setup gcloud CLI
      - uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{ secrets.GKE_SA_KEY }} #takes values from general secrets section
          project_id: ${{ env.PROJECT_ID }} #takes values from general secrets section

      - run: |-
          gcloud --quiet auth configure-docker

      # Push the Docker image to Google Container Registry
      - name: Publish
        run: |-
          docker push "gcr.io/$PROJECT_ID/cloudrun/$IMAGE:${{ steps.set_image_tag.outputs.image_tag }}"

      - name: Deploy Cloud Run
        working-directory: ./CloudFunction
        run: |
          gcloud run deploy ${{ env.IMAGE }} \
          --allow-unauthenticated \
          --region ${{ env.GKE_ZONE }} \
          --port 8080 \
          --labels env=${{ env.LABEL }} \
          --image "gcr.io/$PROJECT_ID/cloudrun/$IMAGE:${{ steps.set_image_tag.outputs.image_tag }}" \
          --set-env-vars "^|^ASPNETCORE_ENVIRONMENT=${{ env.environment }}" \
          --set-secrets=SNOWFLAKE_PUBLICKEY=${{ env.SNOWFLAKE_PUBLICKEY }} \
          --set-secrets=SNOWFLAKE_USER=${{ env.SNOWFLAKE_USER }} \
          --set-secrets=SNOWFLAKE_PASSWORD=${{ env.SNOWFLAKE_PASSWORD }} \
          --set-secrets=SNOWFLAKE_ACCOUNT=${{ env.SNOWFLAKE_ACCOUNT }} \
          --set-secrets=SNOWFLAKE_DB=${{ env.SNOWFLAKE_DB }} \
          --set-secrets=SNOWFLAKE_SCHEMA=${{ env.SNOWFLAKE_SCHEMA }} \
          --set-secrets=SNOWFLAKE_WAREHOUSE=${{ env.SNOWFLAKE_WAREHOUSE }} \
          --set-secrets=SNOWFLAKE_TABLE=${{ env.SNOWFLAKE_TABLE }} \
          --set-secrets=SNOWFLAKE_ROLE=${{ env.SNOWFLAKE_ROLE }} \
          --set-secrets=SB_JWT_CLIENT_KEY=${{ env.SB_JWT_CLIENT_KEY }} \
          --set-secrets=SB_JWT_MANAGER_KEY=${{ env.SB_JWT_MANAGER_KEY }}
